@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,500,700,800');

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html {
    overflow: auto;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Raleway', "Century Gothic", arial, sans-serif;
    font-weight: 300;
    background-color: rgb(5, 5, 5);
    background-image: -moz-linear-gradient(180deg, rgb(0, 0, 0) 30%, rgb(20, 20, 20) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(0, 0, 0) 30%, rgb(20, 20, 20) 100%);
    background-image: linear-gradient(180deg, rgb(0, 0 ,0) 30%, rgb(20, 20, 20) 100%);
    margin: 0;
    color: white;
    overflow-x: hidden;
}




/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    border-radius: 10px;
    background-color: rgb(9, 8, 9);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    background-color: #FFF;
}


/* SECTION: Header */
.header {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

    .header-video {
        position: absolute;
        min-width: 100%;
        max-width: 150%;

        -webkit-animation: fadein-lazy-video 6s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein-lazy-video 6s; /* Firefox < 16 */
        -ms-animation: fadein-lazy-video 6s; /* Internet Explorer */
        -o-animation: fadein-lazy-video 6s; /* Opera < 12.1 */
        animation: fadein-lazy-video 6s;
    }

        @media screen and (max-width: 1680px) {
            .header-video {
                height: 100vh;
                width: auto;
                object-fit: cover;
            }
        }

    .filter {
        position: absolute;
        top: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.995));
        height: inherit;
        width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .front-page {
        position: absolute;
        margin: 4em 0;
        width: 100%;
        z-index: 1;
    }

    .logo-container {
        margin: 0 auto;
        width: 30%;
    }

        .logo {
            width: 100%;
            filter: invert(100%);

            -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein 4s; /* Firefox < 16 */
            -ms-animation: fadein 4s; /* Internet Explorer */
            -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
        }

    .headline {
        position: relative;
        width: 100%;
        
        -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
        -o-animation: fadein 4s; /* Opera < 12.1 */
        animation: fadein 4s;
    }

        .headline h1 {
            position: relative;
            font-weight: 300;
            top: -100px;
            text-align: center;
            font-size: 4em;
            color: rgba(40, 40, 40, 0.8);
        }



/* Page Nav-bar */
nav {
    position: fixed;
    overflow: hidden;
    top: 40%;
    left: 50px;
    z-index: 2;

    -webkit-animation: fadein-lazy 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein-lazy 6s; /* Firefox < 16 */
    -ms-animation: fadein-lazy 6s; /* Internet Explorer */
    -o-animation: fadein-lazy 6s; /* Opera < 12.1 */
    animation: fadein-lazy 6s;
}
    nav a {
        display: flex;
        flex: row;
        align-items: center;
        color: rgb(165, 165, 165);
        text-decoration-line: none;
        font-weight: 300;
        height: 38px;
    }
    nav a p {
        margin: 0 0;
        font-size: 1.6em;
        transition: 0.1s ease-in-out;
    }
    nav a p:hover {
        font-size: 1.8em;
    }
    .nav-section-in-screen {
        font-size: 2em;
        color: white;
    }
    .nav-section-in-screen:hover {
        font-size: 2.1em;
    }



section {
    min-height: 100vh;
}


/* SECTION: Projects */
.projects {
    position: relative;
    margin: 0 auto;
    height: 900px;
    width: 70%;
    font-weight: 300;
}

    .projects-top div {
        margin: 0 auto;
        width: 170px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0);
        text-align: center;
    }

    .projects-table {
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
    }

        .projects table {
            border-collapse: collapse;
            margin: 0 auto;
            width: 100%;
        }
        
        .projects table tbody tr {
            transition: 60ms ease-in-out;
            height: 70px;
        }

            .projects table tbody tr:hover {
                background-color: rgba(45, 0, 41, 0.3);
            }

            .projects table tbody tr td, .projects table thead tr th {
                text-align: center;
            }

            .projects table tbody tr td:nth-child(2), .projects table thead tr th:nth-child(2) {
                text-align: left;
                padding-left: 20px;
            }

            .projects table tbody tr td:first-child {
                width: 60px;
            }

            .projects table tbody tr td:last-child, .projects table thead tr th:last-child {
                text-align: right;
            }

            .projects table thead tr th {
                border-bottom: 1px solid rgba(42, 42, 42, 0.5);
                padding-bottom: 10px;
            }

            .description-container {
                max-width: 200px;
            }

            .files-link-container {
                width: 90px;
                min-width: 90px;
            }

            .files-link {
                background-color: none;
                padding: 0.35em 1.2em;
                margin: 0 0.3em 0.3em 0;
                border-radius: 0.12em;
                text-decoration: none;
                font-weight: 300;
                font-family: 'Open sans', sans-serif;
                color: #FFFFFF;
                transition: 0.2s;
                cursor: pointer;
                width: 90px;
                min-width: 90px;
                max-width: 100px;
            }

            .files-link:hover {
                color:#000000;
                background-color:#FFFFFF;
            }



/* SECTION: Footer */

footer {
    margin-top: 100px;
    position: relative;
    height: 50px;
}

    /* Social Media */
    #socials {
        position: absolute;
        right: 6px;
        font-size: 0;
    }

        #socials .fa {
            box-sizing: content-box;
            font-size: 44px;
            text-align: center;
            text-decoration: none;
            margin: 0px 3px;
            bottom: 0px;
            transition: 100ms ease-in-out;
            color: white;
        }

            #socials .fa-spotify:hover {
                color: rgba(129, 183, 26, 1);
            }

            #socials .fa-soundcloud:hover {
                color: rgba(254, 80, 0, 1);
            }

            #socials .fa-youtube:hover {
                color: rgba(187, 0, 0, 1);
            }

            #socials .fa-linkedin:hover {
                color: rgba(2, 119, 182, 1);
            }

            #socials .fa-instagram:hover {
                color: rgba(188, 42, 141, 1);
            }

            #socials .fa-facebook:hover {
                color: rgba(66, 103, 178, 1);
            }

            #socials .fa-snapchat:hover {
                color: rgba(255, 252, 0, 1);
            }

            #socials .fa-github:hover {
                color: rgba(232, 234, 234, 1);
            }

            #socials .fa-gitlab:hover {
                color: rgba(252, 109, 38, 1);
            }





/* KEYFRAMES */



/* Logo og nettside */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




/* Video first load */
@keyframes fadein-lazy-video {
    0% { opacity: 0; }
    50% { opacity: 0.2; }
    100%   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein-lazy-video {
    0% { opacity: 0; }
    50% { opacity: 0.2; }
    100%   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein-lazy-video {
    0% { opacity: 0; }
    50% { opacity: 0.2; }
    100%   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein-lazy-video {
    0% { opacity: 0; }
    50% { opacity: 0.2; }
    100%   { opacity: 1; }
}




/* Nav-bar first load */

@keyframes fadein-lazy {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein-lazy {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein-lazy {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein-lazy {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100%   { opacity: 1; }
}