@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    background-color: #F2F2F2;
    font-size: .8em;
}

/* Making all header elements to use the same font-family */
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}

.name {
    width: 100%;
}

.name h1 {
    background-color: #ddd;
    margin: 0 auto;
    width: fit-content;
    padding: 4em 2em 2em 2em;
    transform: translateY(-3em);
    -moz-transform: translateY(-3em);
    -webkit-transform: translateY(-3em);
    -o-transform: translateY(-3em);
    -ms-transform: translateY(-3em);
    border-radius: 5em;
}

section {
    padding: 1em 1em;
}

.container {
    margin: 0 auto;
}

.about .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about .container header {
    flex-basis: 100%;
}

.about .container header h2 {
    width: fit-content;
    margin: 0;
    padding: 1em 1em;
    background-color: #ddd;
    border-radius: 1em 1em 0 0;
}

.about .container .about-left {
    order: 1;
    flex-basis: 100%;
    padding: 1em 1em;
    background-color: #ddd;
    border-radius: 0 1em 1em 1em;
}

section.about .container .about-right {
    order: 2;
    padding: 1em;
    background-color: #ddd;
    border-radius: 0 0 1em 1em;
    margin: 0 auto;
}

section.about .container .about-right img {
    border: 3px solid black;
    border-radius: 5em;
    max-width: 150px;
    width: 150px;
}

section.questions .container header h2 {
    width: fit-content;
    margin: 0;
    padding: 1em 1em;
    background-color: #ddd;
    border-radius: 1em 1em 0 0;
}

section.questions .container ol {
    margin: 0;
    padding: 2em;
    background-color: #ddd;
    border-radius: 0 1em 1em 1em;
}

footer {
    text-align: center;
    padding: 1em 0;
}

@media only screen and (min-width: 1000px) {
    body {
        font-size: 1.1em;
    }

    section {
        padding: 2em 8em;
    }

    section.about .container .about-left {
        flex-basis: 50%;
    }

    section.about .container .about-right {
        margin: 0 0 0 1em;
        border-radius: 1em 1em 1em 1em;
    }
}