body{
    font-family: "Century Gothic", arial, sans-serif;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    #innpakning{
        background-color: #ddd;
        position: absolute;
        transform: translate(0, 50%);
        border-style: ridge;
        border-color: darkgrey;
        border-width: 7px;
        border-radius: 20px;
    }
        
    
        #brett{
            width: auto;
            background-color: blue;
            margin: 10px;
            border-style: ridge;
            border-width: 5px;
        }
        
            .kolonne{
                display: inline-block;
                background-color: red;
                vertical-align: top;
            }
       
                .rute{
                    width: 20px;
                    height: 20px;
                    
                    
                    text-align: center;
                    vertical-align: middle;
                }
                
                    .aktiv{
                        background-color: #ddd;
                        border-width: 2px;
                        border-style: solid;
                        border-color: #bbb #888 #888 #bbb;
                    }

                        .flagget{
                            background-color: black;
                        }
                    
                    .dod{
                        background-color: #aaa;
                        border-width: 2px;
                        border-style: solid;
                        border-color: grey;
                    }
        
        
        #toppBar{
            background-color: darkgrey;
            margin: 10px;
            padding: 3px;
            border-style: ridge;
            border-width: 5px;
            font-weight: bold;
        }
        
            #tid{
                position: absolute;
                right: 50px;
                top: 18px;
            }
            
            #tryggeIgjen{
                
            }
            
            #knappInnpakning{
                position: absolute;
                left: 50%;
                transform: translate(-50%, -100%);
            }
                #flaggKnapp{
                    
                }
                
                    .ikkeFlagg{
                    }

                    .flagg{
                        background-color: red;
                    }

                #startIgjenKnapp{
                    
                }

                
